<section id="bio">
  <div class="container">
    <h2>Biografia do Mestre Eliseu</h2>
    <hr class="sep">
    <p>Um pouco da trajetória do fundador da Associação de Capoeira Arte Negra</p>
    <div class="row wow fadeInUp" data-wow-delay=".3s">
      <div class="col-md-4">
        <div class="bio">
          <%= image_tag "mestre.jpg", class: 'img-responsive center-block style_image' %>
          <h4>Eliseu da Silva Santos</h4>
          <p>Mestre de Capoeira</p>
          <div class="bio-social-icons">
            <a href="https://www.facebook.com/eliseu.santos.547" target="_blank"><i class="fa fa-facebook"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="bio">
          <p>
            Eliseu da Silva Santos, Mestre Eliseu, nasceu o 24 de novembro 1962 em Salvador, no Estado de Bahia.
          </p>

          <p>
            Em 1973 Por razões familiares, veio para Santos/SP com 11 anos de idade. E em Junho de 1981 ingressou na Base Aérea de Santos/SP e lá conheceu um amigo de turma chamado pelo nome de guerra de Leocardio, hoje Mestre Heraldo, lá fez seus primeiros contatos com a capoeira, foi quando o mesmo o levou ate o Centro dos Estudantes na Av. Ana Costa em Santos/SP, lá ficou por algum tempo que devido as dificuldades em se manter no local o espaço fechou.
          </p>

          <p>
            Em 1983, ele encontra o Mestre VALTINHO da Senzala de Santos, e é com ele que decidi continuar seu caminho no mundo da capoeira.
          </p>

          <p>
            SENZALA que vem do Mestre SOMBRA que considera também seu Mestre através dos conselhos e ensinamentos
          </p>

          <p>
            Em junho de 1993 inaugura a Associação de Capoeira ARTE NEGRA em São Vicente/SP e hoje com um núcleo em Tijucas/SC sob responsabilidade do prof. Ado Associação de Capoeira ARTE NEGRA de Tijucas/SC.
          </p>

        </div>
      </div>

      <div class="col-md-12">
        <div class="bio">
          <h2>Cronologia</h2>
          <hr class="sep">
        </di>
      <div>
      <div class="col-md-9">
        <div class="bio">
          <ul class="lista">
            <p>
              <li>24 de novembro 1962: Nascimento do Mestre no bairro Brotas em Salvador/BA;</li>
            </p>
            <p>
              <li>1973: Ele se muda para a cidade de Santos/SP;</li>
            </p>
            <p>
              <li>1981: Ele teve seu primeiro contato com a capoeira;</li>
            </p>
            <p>
              <li>1983: Integra-se a Associação de Capoeira Valtinho da Senzala;</li>
            </p>
            <p>
              <li>1989: Ele recebeu a graduação de aluno formado;</li>
            </p>
            <p>
              <li>Junho de 1993: Fundou a Associação de Capoeira Arte Negra em São Vicente/SP;</li>
            </p>
            <p>
              <li>1998: Foi Graduado a Mestre e se tornou o 1º aluno do Mestre Valtinho a obter essa graduação;</li>
            </p>
            <p>
              <li>2008: Lançou seu primeiro cd, chamado « O Balanço da Arte Negra de Angola »;</li>
            </p>
            <p>
              <li>2009: Lançou seu primeiro DVD do Grupo Arte Negra.</li>
            </p>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
