<!-- eventos
============================================= -->
<section id="eventos">
  <div class="container">
      <h2>Eventos</h2>
      <hr class="light-sep">
      <p>Nossos Principais Eventos e Participações em Eventos de Amigos</p>
      <div class="eventos-box">
          <div class="row wow fadeInUp" data-wow-delay=".3s">
            <% @eventos.each do |evento| %>
              <div class="col-md-4">
                  <div class="media-body">
                      <h3><%= evento.title %></h3>
                      <p><%= evento.content %></p>
                  </div>
              </div>
            <% end %>
          </div>
      </div>
  </div>
</section>
