<!-- Footer
============================================= -->
<footer>
  <div class="container">
    <h1>Arte Negra</h1>
    <div class="social">
      <a href="https://www.facebook.com/groups/117968175028024/" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
      <a href="https://www.youtube.com/channel/UC8WwqxLrQ2knOFHex0P2jKw" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>
      <a href="https://www.instagram.com/explore/locations/507431765941554/associacao-de-capoeira-arte-negra/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
    </div>
  </div>
</footer>
