<section id="fotos">
  <div class="container">
    <h2>Recordações Arte Negra</h2>
    <hr class="sep">
    <div class="eventos-box">
      <div class="row wow fadeInUp" data-wow-delay=".3s">
        <% @albuns.each do |album| %>
          <div class="col-md-4">
            <div class="media-body">
              <h3><%= album.title %></h3>
              <p><%= link_to(image_tag(attachment_url(album.images.first, :file, :limit, 300, 300, format: 'jpg')), attachment_url(album.images.first, :file, :limit, 500, 500, format: 'jpg'), data: { lightbox: "example-set" }) %></p>
              
              <% album.images.each do |image| %>
                <%= link_to(image_tag(attachment_url(image, :file, :limit, 300, 300, format: 'jpg')), attachment_url(image, :file, :limit, 500, 500, format: 'jpg'), data: { lightbox: "example-set" }, class: 'hidden') %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
