<section id="videos">
  <div class="container">
    <h2>Videos da Arte Negra</h2>
    <hr class="sep">
    <div class="row wow fadeInUp" data-wow-delay=".3s">
      <% @videos.each do |video| %>
        <div class="col-md-6">
          <div class="media-body">
            <h3><%= video.title %></h3>
            <p>
              <%= video.video.html_safe %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
