<!-- Welcome
============================================= -->
<section id="welcome">
    <div class="container">
        <h2>Associação de Capoeira Arte Negra</h2>
        <hr class="sep">
        <p>Mestre Eliseu - São Vicente/SP - Brasil</p>
        <%= image_tag"welcome/logo.png", class: "img-responsive center-block wow fadeInUp" %>

    </div>
</section>
